.container {
    max-width: 960px;
  }

  body{
    scroll-behavior: smooth;
  }
  
   .bg-section-secondary {
    background-color: #FAFBFE !important;
} 

  .flex-equal > * {
    flex: 1;
  }

  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }

  .navbar{
    padding: 20px;

  }
  
  #offcanvasNavbar{
    padding-top: 1%;
    text-align: center;
    /* width:65vw ; */
  }

  .offcanvas-body-ul{
    text-align: left;
  }

  #brandIcon{
    padding: 5px;
    color: #210460;

  }

  .set{
    display: inline;
  }

  a.dropdown-item{
    text-align: center;

  }

  footer{
    width: 100%;
  }

  body, nav{
    /* background: linear-gradient(to bottom right, rgb(28, 28, 28), #4d55ee); */

  }

  .topic{
    font-family: copperplate;
  }

  #landingDiv, #fourthDiv{
    
   display: flex;
   align-items: center;
    justify-content: center;
    padding: 0;
  }

/* MEDIA QUERY */
  
@media screen and (max-width: 720px) {

  #landingDiv {
    min-height: 300px;
    }
}
@media screen and (max-width: 767px) {
#navbarBrandUl{
    display: none;
}

#navbarBrandNav{
  display: block;
}
.header-resize{
  font-size: 5vw;
}

}

@media screen and (min-width: 767px) {
  #navbarBrandNav{
    display: none;
  }
  
 
  }

@media screen and (max-width: 576px) {

  #compatDiv {
    text-align: center;
    }

    .feature{
      padding: 30px;
    }
}

@media screen and (max-width: 991px ) {
 
  #fifthDiv{
    min-height: 500px;
  }

  #landingDiv {
    text-align: center;
    }

    #thirdWriteup, #thirdDiv, .centerDiv{
      text-align: center;
    }
}

@media screen and (min-width: 992px ) {
 
  #fifthDiv{
    min-height: 400px;
  }
}

#landingDiv img, .img{
  width: 85%;
  padding: 15px;
  
}

 #img3{
  
  width: 80%;
}

#shopNowBtn{
  font-size:larger;
  /* padding: 10px; */
}


#shopNowBtn:hover{
  background-color: #333;

  color: rgba(255, 255, 255, 0.841);
}

.landingWriteup{
 font-size: 3rem;

  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.4em;
  /* background-color: rgba(0, 0, 0, .05); */
  /* top: 1% */
  /* width: 40%; */
}

.writeup{
  text-align: left;
}

#landingDiv, #secondDiv, #thirdDiv{

  min-height: 600px;

}

#controllerDiv{
  border-radius: 150px;
}

#secondRowImg, #thirdWriteup, #secondWriteup , .cube
{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;

}

.bgImg{
  /* background-image: url(./assets/images/vr-human-1.png); */
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;

}

.bgImg1{
  background-image: url(./assets/images/vr-human-learning.webp);

}


.bgImg2{
  background-image: url(./assets/images/vr-human-1-bg.jpg);

}

.bgImg3{
  background-image: url(./assets/images/vr-human-exercise.jpg);
  font-weight: bold;

}

.imgg{
  background: aqua;
}
  
#fourthDiv, .size {
  min-height: 200px;
}


#fifthDiv{
  min-height: 300px; 
  /* border: 1px solid red; */
}

.cube{
  min-height: 250px;
}

 .width-100{
  width: 100%;
  /* border: 1px solid red; */
}

.pad{
  padding: 10px;
}

.theme{
color: #9da2ff;
}

div .theme-bg, #shopBtn1, #shopBtn2, #testCompatBtn{
  background-color: #9da2ff;
  color: white;
  }

  .sales-row {
    /* background-color: #f8f8f8; */
    /* padding: 50px 20px; */
    text-align: center;
    min-height: 300px;
  }
  
  .display-inline{
    display: inline;
}