.container {
    max-width: 960px;
  }

  body{
    scroll-behavior: smooth;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  

  
  /*
   * Extra utilities
   */
  

   .bg-section-secondary {
    background-color: #FAFBFE !important;
} 


  .flex-equal > * {
    flex: 1;
  }

  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }

  
  }

  .navbar{
    padding: 20px;

  }

  #offcanvasNavbar{
    padding-top: 1%;
    text-align: center;
    /* width:65vw ; */
  }

  /* #navbarBrand, .brandIcon{
    padding: 10px;
  } */

  #brandIcon{
    padding: 5px;
    color: #210460;

  }

  .set{
    display: inline;
  }



  a.dropdown-item{
    text-align: center;

  }

  #main{

    /* font-size: 2vw; */
  }

  .topic{
    font-family: copperplate;
    
    /* font-weight: bold; */
    /* padding:10px; */
  }


  #landingDiv, #fourthDiv{
    
   display: flex;
   align-items: center;
    justify-content: center;
    /* min-height: 300px; */
    /* text-align: center; */
    padding: 0;

   

    /* color: white; */
  
  }

  
@media screen and (max-width: 720px) {

  #landingDiv {
    min-height: 300px;
    }

  

}


@media screen and (max-width: 991px ) {
 
  #fifthDiv{
    min-height: 500px;
  }


    .topic {
      /* margin-bottom: 25% */
    }
}

@media screen and (min-width: 992px ) {
 
  #fifthDiv{
    min-height: 400px;
  }
}

#landingDiv img, .img{
  width: 85%;
  padding: 15px;
  
}
/* 
  #img1{
    width: 85%;
    padding: 15px;
  } */

 

 #img3{
  
  width: 80%;
}

#shopNowBtn{
  font-size:larger;
  /* padding: 10px; */
}


#shopNowBtn:hover{
  background-color: #333;

  color: rgba(255, 255, 255, 0.841);
}

#offcanvasNavbarLabel{
  /* font-size: 2vw; */
}

.landingWriteup{
 font-size: 3rem;

  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.4em;
  /* background-color: rgba(0, 0, 0, .05); */
  /* top: 1% */
  /* width: 40%; */
}

.writeup{
  text-align: left;
}


div .imp{
 

}

div .imp2{

}

#secondDiv, #thirdDiv{

  min-height: 600px;

}

/* #img2{
  margin: 0;
  width: 40%;
} */

#controllerDiv{
  border-radius: 150px;
}


#secondRowImg, #thirdWriteup, #secondWriteup, #thirdRowImg , .cube
{
    display: flex;
    align-items: center;
    justify-content: center;
}



.flex{
  display: flex;
  align-items: center;
  justify-content: center;

}

.round{
/* border-radius: 70%; */
}

.bgImg{
  background-image: url(./assets/images/vr-human-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
  
#fourthDiv, .size {
  min-height: 200px;
}


#fifthDiv{
  min-height: 300px; 
  border: 1px solid red;
}

.cube{
  min-height: 250px;
  /* border: 1px solid red; */
  /* border-radius: 5%; */
}
